################
TEAM INFO
################

Name1: Enoch Amat
EID1: eya258
CS login: eamat
Email: enoch.amat@gmail.com
Unique Number: 54895

Name: Franklin Wright
EID: fsw273
CS login: fsw
Email: franklinwrighttx@gmail.com
Unique Number: 54890

Name: Tuan Le
EID: TL32276
CS login: tuanle
Email: tuanle@utexas.edu
Unique Number: 54900

Name: Andrew Gerst
EID: acg4569
CS login: gersta
Email: andrew.gerst@utexas.edu
Unique Number: 54880

Slip days used: 0

################
